*
	box-sizing: border-box

body
	margin: 0
	width: 100%
	font-family: 'lato'
	font-size: 14pt

body > div
	width: 100%

.static-logo
	width: 300px
	margin-top: -70px

.centered-block
	padding: 0 200px

@media (max-width: 1375px)
	.centered-block
		padding: 0 100px

@media (max-width: 1175px)
	.centered-block
		padding: 0 0

@media (max-width: 1000px)
	.static-logo
		width: 200px
