@import './colors'

fontSize = 20pt

*
	box-sizing: border-box

body
	margin: 0
	width: 100%
	font-family: 'lato'
	font-size: 14pt

body > div
	width: 100%

.static-logo
	width: 200px
	margin-top: -70px

.centered-block
	padding: 0 200px

.text-block
	position: relative
	z-index: 100
	left: 20%
	top: 100px
	color: accentuation

	h1
		font-size: fontSize * 2

	p
		font-size: fontSize

	button
		color: white
		background-color: accentuation
		cursor: pointer
		border: 3px solid accentuation
		margin: 10px 0 0 0
		padding: 30px
		font-size: 13pt
		transition: 0.2s ease-out

		&:hover
			background-color: #000000
			border: 3px solid #000000
			color: white

.big-circle
	position: absolute
	top: 45vh
	width: 75vw
	left: -25vw

.medium-circle
	position: absolute
	right: -25vw
	top: calc(500px + 40vw)
	width: 50vw

.small-circle
	position: absolute
	right: 10%
	top: 18vh
	width: 10vw
	min-width: 100px

@media (max-width: 1375px)
	.centered-block
		padding: 0 100px

@media (max-width: 1175px)
	.centered-block
		padding: 0 0

@media (max-width: 850px)
	.text-block
		position: relative
		z-index: 100
		left: 20%
		top: 100px
		color: accentuation

		h1
			font-size: 6.5vw

		p
			font-size: 3vw
